/* Default CSS */
* {
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #F15B22;
  border-radius: 5px;
  padding: 20px 25px;
  text-decoration: none;
}

.btn-secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #F15B22;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 20px 25px;
  text-decoration: none;
}

.btn-primary-v2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #005FAC;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 20px 25px;
  text-decoration: none;
}

.btn-secondary-v2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #005FAC;
  border-radius: 5px;
  padding: 20px 25px;
  text-decoration: none;
}

/* Header CSS */
.banner {
  width: 100%;
  background-image: url(./images/banner/banner1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 160px 0px;
}

.banner.banner-v2 {
  background-image: url(./images/banner/banner2.png);
}

.banner.banner-v3 {
  background-image: url(./images/banner/banner3.png);
}

.banner-wrapper {
  max-width: 525px;
  margin-left: auto;
  text-align: right;
}

.banner-title {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #151414;
}

.banner-v3 .banner-title {
  color: #FFFFFF;
}

.banner-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  margin: 24px 0px 46px 0px;
  color: #444343;
}

.banner-v3 .banner-content {
  color: #FFFFFF;
}

/* Main CSS Start*/

/* My Failure Section */
.my-failure-wrapper {
  padding: 65px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
}

.my-failure-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}

.my-failure-description {
  margin: 24px 0px 16px;
  color: #444343;
}

.my-failure-list {
  padding: 0px;
  margin: 0px;
}
.my-failure-list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  color: #444343;
}

.my-failure-list li:last-child {
  margin-bottom: 0px;
}

.my-failure-list li i {
  margin-right: 10px;
  color: #16D887;
}

/* My Plans Section */
.my-plans-wrapper {
  padding: 65px 0px;
}

.my-plans-section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  text-align: center;
}

.my-plans-items {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-plans-item {
  text-align: center;
}

.my-plans-item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
  margin: 24px 0px 16px;
}

.my-plans-item p {
  color: #737272;
}

/* Call To Action CSS */
.cta-wrapper {
  margin: 65px 0px 130px;
  padding: 60px 65px;
  background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(./images/watch.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
}

.cta-wrapper-v2 {
  margin: 65px 0px 130px;
  padding: 60px 65px;
  background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(./images/watch.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
}

.cta-content {
  max-width: 460px;
  margin-right: auto;
}

.cta-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  margin-bottom: 36px;
}

/* Main CSS End*/

/* Footer CSS Start */
footer {
  background: #151414;
  padding: 130px 0px;
}

.footer_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Footer Infos CSS */
.footer-infos {
  flex-basis: 485px;
}

.footer-form {
  flex-basis: 325px;
}

.footer-infos-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #F8F8F8;
  text-align: left;
}

.footer-infos-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 16px 0px 24px;
}

.footer-infos-contact {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 16px;
}

.social-links {
  margin: 16px 0px 0px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-links li {
  list-style: none;
  margin-right: 17px;
}

.social-links li:last-child {
  margin-right: 0px;
}

.social-links li a {
  display: block;
}

/* Footer Form CSS */
.footer-form-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
}

.subscribe-form {
  margin-top: 31px;
}

.subscribe-form input[type=email] {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 21px 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #F3F3F3;
}

.subscribe-form input[type=submit] {
  margin-top: 16px;
  border: 0px;
}
/* Footer CSS End */